demo/src/test/resources/api/v1/assignment-create-response.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meta">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="errors"/>
                            <xs:element type="xs:short" name="status_code"/>
                            <xs:element type="xs:byte" name="version"/>
                            <xs:element type="xs:float" name="execution_time"/>
                            <xs:element type="xs:byte" name="timestamp"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="response">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:long" name="id"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>